<div class="footer">
<div class="row">    
    <div class="col-lg-4">
           <h1> Heroes</h1>
           <a>GOOD FOOD</a>
    </div>
    <div class="col-lg-4">
            <a routerLink="">Home</a>
            <a routerLink="menu">Menu</a>
            <a routerLink="about">About</a>
            <a routerLink="contact">Contact</a>    
    </div>
    <div class="col-lg-2">
            <a href="#"><i class="bi bi-1-circle-fill"></i>1</a>
            <a href="#"><i class="bi bi-2-circle-fill"></i>2</a>
            <a href="#"><i class="bi bi-3-circle-fill"></i>3</a>
     </div>
</div>
</div>

